{% extends "base.html.twig" %}

{% block title %}Liste des vols{% endblock %}

{% block body %}
<h1>Liste des vols</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Numéro</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Prix</th>
        <th>Actions</th>
    </tr>
    {% for flight in flights %}
        <tr>
            <td>{{ flight.id }}</td>
            <td>{{ flight.number }}</td>
            <td>{{ flight.departure.name }}</td>
            <td>{{ flight.arrival.name }}</td>
            <td>{{ flight.price }}</td>
            <td>
                <a class="btn btn-info" href="{{ path('flight_view', { 'id': flight.id }) }}">Show</a>
                <a class="btn btn-success" href="{{ path('flight_edit', { 'id': flight.id }) }}">Edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucun vol</td>
        </tr>
    {% endfor %}
</table>

<a class="btn btn-primary" href="{{ path('flight_add') }}">create new</a>
{% endblock %}
