{% extends "base.html.twig" %}

{% block title %}Liste des vols{% endblock %}

{% block body %}
<h1>Liste des vols</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Numéro</th>
        <th>Départ</th>
        <th>Arrivée</th>
    </tr>
    {% for flight in flights %}
        <tr>
            <td>{{ flight.id }}</td>
            <td><a href="{{ path('flight_view', { 'id': flight.id }) }}">{{ flight.number }}</a></td>
            <td>{{ flight.departure.name }}</td>
            <td>{{ flight.arrival.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucun vol</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
