{% extends "base.html.twig" %}

{% block title %}Détails d'un vol{% endblock %}

{% block body %}
<h1>Vol {{ flight.number }}</h1>
<table class="table">
    <tr>
        <th>Départ</th>
        <th>Arrivé</th>
        <th>Avion</th>
    </tr>
    <tr>
        <td>
            <a href="{{ path('airport_view', { 'id': flight.departure.id }) }}">
                {{ flight.departure.iataCode }} - {{ flight.departure.name }}
            </a>
        </td>
        <td>
            <a href="{{ path('airport_view', { 'id': flight.arrival.id }) }}">
                {{ flight.arrival.iataCode }} - {{ flight.arrival.name }}
            </a>
        </td>
        <td> 
        {% if flight.aircraft %}
            <a href="{{ path('aircraft_show', { 'id': flight.aircraft.id }) }}">
                {{ flight.aircraft.basicType }} - {{ flight.aircraft.manufacturer }}
            </a>
        {% else %}
            Pas d'avion denifie pour ce vol
        {% endif %}
        </td>
    </tr>

</table>    

<h2>Passagers</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Passeport</th>
    </tr>
    {% for passenger in flight.passengers %}
        <tr>
            <td>{{ passenger.lastName }}</td>
            <td>{{ passenger.firstName }}</td>
            <td>{{ passenger.passportNumber }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun passager sur ce vol</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
