{% extends "base.html.twig" %}

{% block title %}Ajout d'un aéroport{% endblock %}

{% block body %}
<h1>Ajout aéroport</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    <a href="{{ path('airport_index') }}">back to list</a>
{% endblock %}
