{% extends 'base.html.twig' %}

{% block title %}Edit Airport
{% endblock %}

{% block body %}
	<h1>Edit Airport</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

	<form method="post" action="{{ path('airport_delete', {'id': airport.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ airport.id) }}">
		<button class="btn btn-danger">Delete</button>
	</form>
{% endblock %}
