{% extends "base.html.twig" %}

{% block title %}Liste des aéroports{% endblock %}

{% block body %}
<h1>Liste des aéroports</h1>
<a href="{{ path('airport_index') }}">Tout</a>
{% for letter in 'A'..'Z' %} 
<a class="{{ letterChosen == letter ? 'active' : '' }}" 
    href="{{ path('airport_list_alpha', { 'letter': letter }) }}">{{ letter }}</a>
{% endfor %}
<table>
    <tr>
        <th>Id</th>
        <th>Identité</th>
        <th>Nom</th>
        <th>Pays</th>
        <th>Code IATA</th>
    </tr>
    {% for airport in airports %}
        <tr>
            <td>{{ airport.id }}</td>
            <td>{{ airport.ident }}</td>
            <td><a href="{{ path('airport_view', { 'id': airport.id }) }}">{{ airport.name }}</a></td>
            <td>{{ airport.isoCountry }}</td>
            <td>{{ airport.iataCode }}</td>
            <td>
                <a href="{{ path('airport_delete', { 'id': airport.id }) }}">Supprimer</a>
                <a href="{{ path('airport_edit', { 'id': airport.id }) }}">Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun aéroport</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
