{% extends "base.html.twig" %}

{% block title %}Détails d'un aéroport{% endblock %}

{% block body %}
<h1>{{ airport.name }}</h1>
<table class="table">
    <tr>
        <th>Identifiant</th>
        <th>Pays</th>
        <th>Type A</th>
        <th>Latitude Deg</th>
        <th>Longitude Deg</th>
    </tr>
    <tr>
        <td>{{ airport.ident }}</td>
        <td>{{ airport.isoCountry }}</td>
        <td>{{ airport.typeA }}</td>
        <td>{{ airport.latitudeDeg }}</td>
        <td>{{ airport.longitudeDeg }}</td>
    </tr>
</table>    
<h2>Vols au départ</h2>
<table class="table">
    <tr>
        <th>Numéro</th>
        <th>Destination</th>
    </tr>
    {% for flight in airport.departures %}
        <tr>
            <td><a href="{{ path('flight_view', { 'id': flight.id }) }}">{{ flight.number }}</a></td>
            <td>{{ flight.arrival.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun vol au départ</td>
        </tr>
    {% endfor %}
</table>

<h2>Vols à l'arrivée</h2>
<table class="table">
    <tr>
        <th>Numéro</th>
        <th>Provenance</th>
    </tr>
    {% for flight in airport.arrivals %}
        <tr>
            <td><a href="{{ path('flight_view', { 'id': flight.id }) }}">{{ flight.number }}</a></td>
            <td>{{ flight.departure.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun vol à l'arrivée</td>
        </tr>
    {% endfor %}
</table>

<a class="btn btn-success" href="{{ path('airport_edit', {'id': airport.id}) }}">edit</a>

{% endblock %}
