{% extends 'base.html.twig' %}

{% block title %}Aircraft index{% endblock %}

{% block body %}
    <h1>Aircraft index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Manufacturer</th>
                <th>BasicType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aircraft in aircraft %}
            <tr>
                <td>{{ aircraft.id }}</td>
                <td>{{ aircraft.manufacturer }}</td>
                <td>{{ aircraft.basicType }}</td>
                <td>
                    <a href="{{ path('aircraft_show', {'id': aircraft.id}) }}">show</a>
                    <a href="{{ path('aircraft_edit', {'id': aircraft.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('aircraft_new') }}">Create new</a>
{% endblock %}
