{% extends "base.html.twig" %}

{% block title %}Liste des avions{% endblock %}

{% block body %}
<h1>Liste des avions</h1>
<a href="{{ path('aircraft_add') }}">Ajouter</a>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Constructeur</th>
        <th>Modèle</th>
        <th>Vol Effectués</th>
        <th>Actions</th>
    </tr>
    {% for aircraft in aircrafts %}
        <tr>
            <td>{{ aircraft.id }}</td>
            <td>{{ aircraft.manufacturer }}</td>
            <td>{{ aircraft.basicType }}</td>
            <td> 
                <a href="{{ path('flight_aircraft_view', { 'id': aircraft.id }) }}">Voir les vols</a>
            </td>
            <td> 
            <span>
                <a href="{{ path('aircraft_edit', { 'id': aircraft.id }) }}">Modifier</a>
                -
                <a href="{{ path('aircraft_delete', { 'id': aircraft.id }) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet avion ?')">Supprimer</a>
            </span>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun avion</td>
        </tr>
    {% endfor %}

</table>
{% endblock %}
