{% extends "base.html.twig" %}

{% block title %}Liste des avions{% endblock %}

{% block body %}
<h1>Liste des avions</h1>
<a href="{{ path('aircraft_add') }}">Ajouter</a>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Constructeur</th>
        <th>Modèle</th>
        <th>Vol Effectués</th>
    </tr>
    {% for aircraft in aircrafts %}
        <tr>
            <td>{{ aircraft.id }}</td>
            <td>{{ aircraft.manufacturer }}</td>
            <td>{{ aircraft.basicType }}</td>
            <td> 
                <a href="{{ path('flight_aircraft_view', { 'id': aircraft.id }) }}">Voir les vols</a>
                {# <select> #}
            {# {% for elements in aircraft.flight %} #}
                {# <td>{{ dump(elements) }}</td> #}
                {# <option value="">{{ elements.id }}</option> #}
                {# <td>{{ elements.id }}</td> #}
                {# {% for id in elements %}
                <td>{{ id }}</td>
                {% endfor %} #}
            {# {% endfor %} #}
                {# </select> #}
            </td>
            {# <td>{{ dump(aircraft) }}</td> #}

        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun avion</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
