{% extends 'base.html.twig' %}

{% block title %}Aircraft{% endblock %}

{% block body %}
    <h1>Aircraft</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aircraft.id }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ aircraft.manufacturer }}</td>
            </tr>
            <tr>
                <th>BasicType</th>
                <td>{{ aircraft.basicType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aircraft_index') }}">back to list</a>

    <a href="{{ path('aircraft_edit', {'id': aircraft.id}) }}">edit</a>

    {{ include('aircraft/_delete_form.html.twig') }}
{% endblock %}
